
body {
	margin-top: 30px;
	font-family: 'segoe ui';
    background-color:white;
	height: auto;
	font-style: oblique;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  }


.star{
	background-color: black;
	color: #DDDDDD;
	height: 60px;
	width: 200px;
	border-radius: 30px;
	font-size: 25px;
	font-weight: bold;
}
.startButton{
	/* border: solid green 1px; */
	width: 300px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
}


.birds>img{
	text-align: center;
	margin-left: 100px;

	position: relative;
	overflow: hidden;
	width: 600px; height: 400px;
	margin: auto;
}
	

.gameName{
	text-align: center;
	font-weight: bolder;
	font-size: 30px;

}