@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

body{
	margin: 0px;
	/* font-family: 'segoe ui'; */
   
    background-color: #1f1f1f;
    overflow: hidden;
    
}
.textfront{
    font-family: 'Fruktur', cursive;
    color: red;
    font-size: 40px;
}
.main{
    height:700px;
  
}

.btns{
        background-color: red;
        color: white;
        border-radius: 5px;
        font-size: 20px;
        border: 1px solid red;
        
  
}

  /* /// */
 
.grid-item{
    /* border: 1px solid red; */
    text-align: center;
    
}

.img>img{
    margin-left: 34px;
    width: 70%;
}


.btn>.btns{
	background-color:red;
	color: white;
    width: 110px;
    height: 45px;
	border-radius: 5px;
	font-size: 20px;
	border: 1px solid red;
}



